<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="vendor/autoload.php"
>
  <testsuites>
    <testsuite name="Broadway Saga Test Suite">
      <directory>./test/</directory>
      <directory>./examples/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-php" target="build/coverage.cov"/>
    <log type="coverage-clover" target="build/clover.xml"/>
  </logging>
</phpunit>
